{{#if projectMarkdownDirectory}}
  {{{markdownFromDirectory projectMarkdownDirectory}}}
{{else}}
    <div class="apidocs">
        <div id="docs-main" class="content">
            <div class="page-header">
                <h1> <i class="fa fa-book" aria-hidden="true"></i> Welcome</h1>
            </div>

            <p>
                Browse to a module or class using the sidebar to view its API documentation.
            </p>

            <h3>Keyboard Shortcuts</h3>

            <ul>
                <li><p>Press <kbd>s</kbd> to focus the API search box.</p></li>

                <li><p>Use <kbd>Up</kbd> and <kbd>Down</kbd> to navigate search results.</p></li>

                <li><p>Use <kbd>Enter</kbd> to select a search result.</p></li>
            </ul>

            <script type="text/javascript">
            //   window.location.replace('modules/Home.html');
            </script>
        </div>
    </div>
{{/if}}
